#root{
  height: 100vh;
  width: 100vw;
}

.height-full{
    height: 100%;
}

.width-full{
  width: 100%;
}

.cursor-pointer{
  cursor: pointer;
}

/* Time components */

.counter-time {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.counter-time__number {
    font-size: 230px;
}

.counter-time__timer {
    font-size: 80px;
    font-weight: bold;
}
